@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

*{
  box-sizing: border-box;
}

html, body{
  padding: 0;
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

body {
  background: url('./assets/bg.jpg');
  background-repeat: repeat;
  background-size: auto;
}

.container{
  margin-top: 5vh;
}

.board{
  border-radius: 10px;
  max-width: 600px;
  margin: auto;
  /* border: 0.5px solid grey; */
}


.title{
  text-align: center;
  margin-top: 8px;
  margin-bottom: 0;
  padding: 0;
}

.guess-grid{
  padding-top: 20px;
}

.word{
  display: flex;
  justify-content: center;
}

.alphabet {
  margin: 4px;
  height: 50px;
  width: 50px;
  font-size: 1.5em;
  text-align: center;
  padding-top: 12px;
  padding-bottom: 12px;
  border: 1px solid black;
  border-radius: 8px;
  font-weight: bold;
}

.found{
  background-color: grey;
}

.match{
  background-color: greenyellow;
}


.keyboard{
  padding-top: 20px;
  padding-bottom: 10px;
}

.keyboard-line{
  display: flex;
  justify-content: center;
}

.keyboard-letter{
  height: 40px;
  min-width: 30px;
  margin: 3px 2px;
  text-align: center;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 2px;
  padding-right: 2px;
  border: 0.5px solid grey;
  border-radius: 2px;
}

.keyboard-letter:hover{
  cursor: pointer;
  background-color: honeydew;
}